# Visual Studio/Code
.vs
.vscode

# Build results
[Bb]in/
[Oo]bj/
src/WinSharpFuzz/[Bb]in/
src/WinSharpFuzz/[Oo]bj/
src/WinSharpFuzz/[Nn]upkg/
src/WinSharpFuzz.CommandLine/[Bb]in/
src/WinSharpFuzz.CommandLine/[Oo]bj/
src/WinSharpFuzz.Common/[Bb]in/
src/WinSharpFuzz.Common/[Oo]bj/
src/WinSharpFuzz.Common/[Nn]upkg/
src/WinSharpFuzz.CommandLine/[Bb]in/
src/WinSharpFuzz.CommandLine/[Oo]bj/
src/WinSharpFuzz.CommandLine/[Nn]upkg/
src/WinSharpFuzz.Instrument/[Bb]in/
src/WinSharpFuzz.Instrument/[Oo]bj/
src/WinSharpFuzz.Instrument/[Nn]upkg/
libfuzzer-dotnet/winsharpfuzz-libfuzzer-*

# BenchmarkDotNet
**/BenchmarkDotNet.Artifacts/*

